/* Layout.css */
.layout {
  width: 100%;
  min-height: 100vh;
  background: url("../../assets/programmers.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
