.tutor-display {
    margin-top: 100px;
}

.tutor-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.tutor-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

/* .tutor-display {
    margin-top: 50px;
    padding: 0 20px;
}

.tutor-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
    margin-bottom: 20px;
}

.tutor-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
} */
